
/*asdijhfaisdhfiuashdfuiasdhdfoiuashdfoihuasodiufhasioudhfiasudhf*/
/*asdijhfaisdhfiuashdfuiasdhdfoiuashdfoihuasodiufhasioudhfiasudhf*/
body {
  background-image: url("images/about-me/dawnbird.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
}

.navbar {
  width: 1000px;
  height: 45px;
  margin: 0 auto;
  background-color: rgba(162, 162, 162,0);
  z-index: 3;
  border-top: 0;
  border-radius: 0 0 50px 50px;
  z-index: 10;
}

.links {
  position: relative;
  float: right;
  margin: 0 10px 0 10px;
  bottom: 7px;
}

.links a {
  font-family: 'Raleway', sans-serif;
  color: #FFF9FB;
}

.links a:hover {
  color: #77878B;
}

.palette {
  position: relative;
  float: left;
  width: 30px;
  top: -16px;
}

.title {
  position: relative;
  float: left;
  left: -270px;
  bottom: 5px;
  font-size: 26px;
}

header {
  text-align: center;
  display: block;
  position: relative;
  width: 1000px;
  height: 180px;
  margin: 0 auto;
  background-color: rgba(119, 135, 139, 0);
  z-index: -1;
  border-radius: 0 0 110px 110px;
}

.about-me {
  position: absolute;
  font-family: 'Aguafina Script', cursive;
  font-size: 60px;
  top: 70px;
  left:500px;
}

.main {
  width: 1000px;
  height: 1010px;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: rgba(48, 82, 82, 0);
  position: relative;
  z-index: -1;
}

@keyframes box1 {
  from {
    top: 1000px;
  }

  to {
    top: 15px;
  }
}

.info-box-1 {
  display: block;
  position: absolute;
  top: 15px;
  left: -40px;
  width: 440px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box1;
    animation-duration: 3s;
}

@keyframes box2 {
  from {
    top: 1000px;
  }

  to {
    top: 140px;
  }
}

.info-box-2 {
  display: block;
  position: absolute;
  top: 140px;
  left: 550px;
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box2;
    animation-duration: 2s;
}


@keyframes box3 {
  from {
    top: 1000px;
  }

  to {
    top: 240px;
  }
}
.info-box-3 {
  display: block;
  position: absolute;
  top: 240px;
  left: 130px;
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box3;
    animation-duration: 4s;
}

@keyframes box4 {
  from {
    top: 1000px;
  }

  to {
    top: 480px;
  }
}
.info-box-4 {
  display: block;
  position: absolute;
  top: 480px;
  left: 350px;
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box4;
    animation-duration: 4s;
}

@keyframes box5 {
  from {
    top: 1000px;
  }

  to {
    top: 780px;
  }
}

.info-box-5 {
  display: block;
  position: absolute;
  top: 780px;
  left: 50px;
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box5;
    animation-duration: 4s;
}

@keyframes box6 {
  from {
    top: 1000px;
  }

  to {
    top: 730px;
  }
}

.info-box-6 {
  display: block;
  position: absolute;
  top: 730px;
  left: 650px;
  width: 400px;
  height: 300px;
  padding: 20px 20px;
  background-image: linear-gradient(to bottom right, rgba(255,249,251, .7), rgba(162,162,162,0));
  border-radius: 40px;
  z-index: -1;
  animation-name: box6;
    animation-duration: 4s;
}

.text1 {
  font-family: 'Raleway', sans-serif;
  color: #FFF9FB;
}
.text2 {
  color: #A2A2A2;
  font-family: 'Raleway', sans-serif;
}
.text3 {
  color:#77878B;
  font-family: 'Raleway', sans-serif;
}
.text4 {
  color: #305252;
  font-family: 'Raleway', sans-serif;
}
.text5 {
  color: #373E40;
  font-family: 'Raleway', sans-serif;
}



footer {
  text-align: center;
  display: block;
  position: relative;
  width: 1000px;
  height: 120px;
  margin: 0 auto;
  background-color: rgba(119, 135, 139, 0);
  z-index: -1;
}

.connect {
  display: inline;
  text-align: center;
  line-height: 120px;
  font-size: 20px;
  margin-right: 20px;
  font-family: 'Raleway', sans-serif;
}

.connect-icon {
  width: 30px;
  margin: 0 2px 3px 2px;
}

.copy {
  font-family: 'Raleway', sans-serif;
  display: block;
  position: relative;
  bottom: 40px;
  font-size: 12px;
}

.bg-snow {
  background-color: #FFF9FB;
  opacity: .8;
}

.bg-quicksilver {
  background-color: #A2A2A2;
  opacity: .8;
}

.bg-slategrey {
  background-color: #77878B;
  opacity: .8;
}

.bg-darkslate {
  background-color: #305252;
  opacity: .8;
}

.bg-onyx {
  background-color: #373E40;
  opacity: .8;
}

.f-snow {
  color: #FFF9FB;
}

.f-quicksilver {
  color: #A2A2A2;
}

.f-slategrey {
  color: #77878B;
}

.f-darkslate {
  color: #305252;
}

.f-onyx {
  color: #373E40;
}

.f-cursive {
  font-family: 'Aguafina Script', cursive;
}

.f-raleway {
  font-family: 'Raleway', sans-serif;
}
